doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet")  
  body
    //barra de navegacion
    div.navbar-conteiner
      nav.navbar
        img(src="../images/logo_medico.png", class="logo")
        ul.navbar-list 
          li
            a(href="/nuevo-turno") Agregar Turno         
          li 
            a(href="/mostrarPacientes") Mostrar Pacientes
          li 
            a(href="/mostrarMedicos") Mostrar Medicos
          li 
            a(href="/template") Agregar Template
          li
            a(href="/logout", class="salir") Salir
          li
            a= medicoNombre
        img(src="../images/usuario.png", class="user-pic")
    //Parte principal
    div.agenda
      if success
        p.success= success
      if error
        p.error= error
      h1.agenda Agenda del Médico

      // Campo de selección de fecha y botón de búsqueda
      form.agenda(method="GET", action=`/agenda/${medicoId}`)
        div.fecha
          label.agenda(for="fecha") Seleccione una fecha:
          input.agenda(type="date", id="fecha", name="fecha" value=fechaSeleccionada)
          button(type="submit") Buscar

        //- script.
        //-   const campoFecha = document.getElementById('fecha');
        //-   const ahora = new Date().toLocaleString("es-AR", {
        //-     timeZone: "America/Argentina/Buenos_Aires"
        //-   });
        //-   const fechaArgentina = new Date(ahora).toISOString().slice(0, 10);
        //-   campoFecha.value = fechaArgentina;

      // Mostrar mensaje si no hay turnos
      if message
        p.no-turnos No hay turnos para la fecha seleccionada.
      else  
        table
          thead
            tr
              th Nº Turno
              th Fecha
              th Hora
              th Nombre Paciente
              th Apellido Paciente
              th Médico
              th Condicion
              th Historial 
              th Consulta
              th Cancelar
          tbody
            each turno in turnos
              tr
                td= turno.id_turno
                td= turno.fecha_turno
                td= turno.hora_turno
                td= turno.paciente_nombre
                td= turno.paciente_apellido
                td= turno.medico_nombre
                td(class= 
                  turno.estado === 'Pendiente' ? 'estado-pendiente' :
                  turno.estado === 'Confirmado' ? 'estado-confirmado' :
                  turno.estado === 'Cancelado' ? 'estado-cancelado' :
                  ''
                )= turno.estado
                //td= turno.estado
                td
                  a.agenda(href=`/historial/${turno.id_paciente}`) Ver Historial
                td 
                  if turno.estado === 'Pendiente'
                    a.agenda(href=`/consulta/${turno.id_turno}/${turno.id_paciente}`) Realizar Consulta
                    br
                  if turno.estado === 'Atendido'
                    a.button(href=`/historial/${turno.id_turno}`) Ver Historial
                td
                  if turno.estado === 'Pendiente'
                    a.buttonCancelar(href=`/cancelar-turno/${turno.id_turno}`) cancelar
                    
