//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-     link(href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet")
//-   body
//-     h1 Historial Clínico de #{consulta[0].paciente_nombre || 'Paciente No Encontrado'}
//-     // Botón para volver a la agenda
//-     div.hce
//-       a.button(href=`/agenda/${medicoId}`) Volver a la agenda
//-     if consulta
//-       each consultas in consulta
//-         div.hce
//-           h2 Consulta realizada el #{consultas.fecha_consulta} #{consultas.hora}
//-           p Medico a cargo: #{consultas.medico || 'No disponible'}
//-           p Diagnóstico: #{consultas.diagnostico || 'No disponible'}
//-           p Evolución: #{consultas.evolucion || 'No disponible'}
//-           p Alergias: #{consultas.alergias || 'No disponible'}
//-           p Antecedentes Patológicos: #{consultas.antecedentes || 'No disponible'}
//-           p Hábitos: #{consultas.habitos || 'No disponible'}
//-           p Medicamentos en uso: #{consultas.medicamento || 'No disponible'}
//-           hr
//-     else
//-       p No se encontraron datos del historial clínico.

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="/javascripts/historialClinico.js")
  body
    h1 Historial Clínico de #{consulta[0].paciente_nombre || 'Paciente No Encontrado'}

    // Botón para volver a la agenda
    div.hce
      a.button(href=`/agenda/${medicoId}`) Volver a la agenda

    // Última consulta
    if ultimaConsulta
      div.hce
        h2 Última Consulta - #{ultimaConsulta.fecha_consulta} 
        h2 Hora de la consulta - #{ultimaConsulta.hora_consulta}
        p Medico a cargo: #{ultimaConsulta.medico || 'No disponible'}
        p Diagnóstico: #{ultimaConsulta.diagnostico || 'No disponible'}
        div.evolucion Evolución: !{ultimaConsulta.evolucion || 'No disponible'}
        p Alergias: #{ultimaConsulta.tipo_alergias || 'No disponible'}
        p Antecedentes Patológicos: #{ultimaConsulta.antecedentes || 'No disponible'}
        p Hábitos: #{ultimaConsulta.habitos || 'No disponible'}
        p Medicamentos en uso: #{ultimaConsulta.medicamento || 'No disponible'}
        a.button(href=`/modificarConsulta/${ultimaConsulta.id_consulta}`) Modificar Consulta
        hr

    // Botones para alternar entre las consultas
    div.botones
      button.button(id="btnMedicoActual") Ver Consultas del Médico Actual
      button.button(id="btnOtrosMedicos") Ver Consultas de Otros Médicos

    // Consultas del médico actual
    div.hce#consultasMedicoActual(style="display: none;")
      if medicoConsulta.length > 0
        each consulta in medicoConsulta
          div.hce
            h2 Consultas Del Medico Actual - #{consulta.fecha_consulta}  
            h2 Hora de la consulta - #{consulta.hora_consulta}
            p Médico a cargo: #{consulta.medico || 'No disponible'}
            p Diagnóstico: #{consulta.diagnostico || 'No disponible'}
            div.evolucion Evolución: !{consulta.evolucion || 'No disponible'}
            p Alergias: #{consulta.tipo_alergias || 'No disponible'}
            p Antecedentes Patológicos: #{consulta.antecedentes || 'No disponible'}
            p Hábitos: #{consulta.habitos || 'No disponible'}
            p Medicamentos en uso: #{consulta.medicamento || 'No disponible'}
            hr


    // Consultas atendidas por otros médicos
    div.hce#consultasOtrosMedicos(style="display: none;")
      if medicoNoConsulta && medicoNoConsulta.length > 0
        h2 Consultas realizadas por otros médicos
        each consulta in medicoNoConsulta
          div.hce
            h3 Consulta el #{consulta.fecha_consulta}
            p Médico: #{consulta.medico}
            p Diagnóstico: #{consulta.diagnostico || 'No disponible'}
            hr
      else
        p No se encontraron consultas realizadas por otros médicos.