doctype html
html
  head
    title Modificar Consulta
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.min.js")
  body
    h1 Modificar Última Consulta 

    // Botón para volver al historial clínico
    div.hce
      a.button(href=`/historial/${consultas.id_paciente}`) Volver al Historial Clínico

    if successMessage
      div.alert.alert-success
        | #{successMessage}

    form.modificar(action=`/actualizarConsulta/${consultaId}`, method='POST')
      // Diagnóstico
      fieldset 
        legend Datos de la Consulta
        //- Diagnostico
        div.form-group
          label(for='diagnostico') Diagnóstico
          textarea(name='diagnostico', id = 'diagnostico' rows="4" cols="50" required)

        div.form-group
          label(for='tipo_diagnostico') Tipo de Diagnóstico
          select(name='tipo_diagnostico', id="tipo_diagnostico" required)
            if tiposDiagnostico.length > 0
              each tipo in tiposDiagnostico
                option.modificar(value=tipo.id_tipo_diagnostico) #{tipo.descripcion}
            else 
              option(value="") no hay tipos disponible

        //- Evolución
        div.form-group
          label(for='evolucion') Evolución
          textarea(name='evolucion' rows="4" cols="50" required)
          script(src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js")
          script.
            document.addEventListener("DOMContentLoaded", function() {
              const quill = new Quill('#editor', {
                theme: 'snow'
              });
            });
        div.form-group
          label(for='fecha_evolucion') Fecha de Evolución
          input(type='date' name='fecha_evolucion' id='fecha_evolucion' required)

      // Alergias (opcional)
      fieldset 
        legend  Alergia 
        div.form-group
          label(for='tipos_alergias') Alergias
          select(name='tipos_alergias', id="tipos_alergias" )
            if tiposAlergias.length > 0
              each alergias in tiposAlergias
                option(value=alergias.id_tipo_alergia) #{alergias.descripcion}
            else 
              option(value="") No hay alergias disponibles
        div.form-group
        label(for='alergia_fecha_desde') Fecha Desde Alergia
        input(type='date' name='alergia_fecha_desde' id='alergia_fecha_desde')

        div.form-group
          label(for='alergia_fecha_hasta') Fecha Hasta Alergia
          input(type='date' name='alergia_fecha_hasta' id='alergia_fecha_hasta')

        div.form-group
          label(for='importancia_alergia') Importancia de la Alergia:
           select(name="importancia_alergia" id="importancia_alergia")
            if importancias.length > 0
              each importancia in importancias
                option.consulta(value=importancia.id_importancia) #{importancia.nomenclatura}
            else
              option(value='') No hay importancias disponibles

      // Antecendentes (opcional)
      fieldset 
        legend Antecedentes 
        div.form-group
          label(for='antecedentes') Antecedentes Patológicos
          textarea(name='antecedentes' id='antecedentes' rows="4" cols="50")

        div.form-group
          label(for='fecha_desde_antecedentes') Fecha Desde Antecedentes
          input(type='date' name='fecha_desde_antecedentes' id='fecha_desde_antecedentes')

        div.form-group
          label(for='fecha_hasta_antecedentes') Fecha Hasta Antecedentes
          input(type='date' name='fecha_hasta_antecedentes' id='fecha_hasta_antecedentes')

      // Hábitos (opcional)
      fieldset 
        legend  Habitos 
        div.form-group
          label(for='habitos') Hábitos
          textarea(name='habitos' id='habitos' rows="4" cols="50")

        div.form-group
          label(for='fecha_desde_habitos') Fecha Desde Hábitos
          input(type='date' name='fecha_desde_habitos' id='fecha_desde_habitos')

        div.form-group
          label(for='fecha_hasta_habitos') Fecha Hasta Hábitos
          input(type='date' name='fecha_hasta_habitos' id='fecha_hasta_habitos')

      // Medicamentos (opcional)
      fieldset 
        legend Medicamentos 
        div.form-group
          label(for='medicamentos_nombre') Medicamentos en uso
          input(type='text' name='medicamentos_nombre' id='medicamentos_nombre')

        div.form-group
          label(for='medicamentos_dosis') Dosis
          input(type='text' name='medicamentos_dosis' id='medicamentos_dosis')

        div.form-group
          label(for='medicamentos_frecuencia') Frecuencia
          input(type='text' name='medicamentos_frecuencia' id='medicamentos_frecuencia')

      // Botón de envío
      div.form-group
        button(type='submit') Actualizar Consulta

      // Mensaje de éxito si existe
      if successMessage
        div.success
          p= successMessage
